.audio-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    max-width:50%;
}

/* 600px and down */
@media only screen and (max-width:600px) {
  .audio-list{
    justify-content:center;
    margin: 3rem 30px 0 30px;
    max-width: max-content;  
  }
}

/* 500px and up */
@media only screen and (min-width:600px) {
    .audio-list{
      justify-content:center;
      margin: 5rem 30px 0 30px;
      max-width: 60%;  
    }
  }

/* 1000px and up */
  @media only screen and (min-width:1000px) {
    .audio-list{
      justify-content:center;
      margin: 5rem 30px 0 30px;
      max-width: 50%;  
    }
  }

/* 1300px and up */
  @media only screen and (min-width:1300px) {
    .audio-list{
      justify-content:center;
      margin: 5rem 30px 0 30px;
      max-width: 60%;  
    }
  }

/* 1400px and up */
  @media only screen and (min-width:1400px) {
    .audio-list{
      justify-content:center;
      margin: 5rem 30px 0 30px;
      max-width: 50%;  
    }
  }
