.audio_card{  
    width: 110px;
    height: 110px;
    margin: 0 30px 70px;
    display:inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20%;
    background: rgba(255, 255, 255, 0.05);
  }

.audio_img{
    cursor: pointer;
    opacity: .5;
    width: 50px;
    padding-top: 25%;
}

.audio_img:hover{
    opacity: 1;
}

.audio_img_active{
    opacity: 1;
    cursor: pointer;
}

.audio_volume{
    cursor: pointer;
    margin-top: 50%;
    width: 100%;
    appearance: none;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.685);
    border-radius: 10%;
}

.audio_volume::-webkit-slider-thumb{
    width: 15px;
    height: 15px;
    background-color: #ebebeb;
    appearance: none;
    border-radius: 100%;
}